<template>
    <div class="container">
        <div class="sc-table">
    <div class="tool-bar el-row" style="padding-bottom: 20px;">
        <div class="actions el-col el-col-8">
          
                <button type="button" data-toggle="modal" data-target="#modal-create" class="el-button el-button--primary">
                    <span><i class="el-icon-edit"></i>
                                        Create a product
                                    </span></button>
        </div>
    
    </div>
    <table class="table table-dark">
        <caption>List of users</caption>
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="product in products.data" v-bind:key="product.id">
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <img v-if="product.image" width="100" height="100" class="card-img-top" :src="path+'/'+product.image" alt="Card image cap">
                    <img v-else width="100" height="100" class="card-img-top" :src="path+'/'+'default/download.png'" alt="Card image cap">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-wrap" style="text-align: center; padding-top: 20px;">
         <paginate v-if="products.last_page > 1" @paginate="loadProduct()" :pagination="products"
                     :offset="4"></paginate>
    </div>
    </div>
    <div class="modal fade" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" v-if="errors.length >0">
                <span v-for="error in errors" :key="error">{{error}}</span>
                </div>
                <form>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" v-model="product.name" id="name">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Price:</label>
                    <input type="number" class="form-control" v-model="product.price" id="price">
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Description:</label>
                    <textarea class="form-control" v-model="product.description" id="description "></textarea>
                </div>
                <input type="file" id="file" ref="file" v-on:change="onChangeFileUpload()"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="submitForm()">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        props: [
            'path','token'
        ],
        data(){
            return {
                products:{
                    total: 0,
                    per_page: 10,
                    from: 1,
                    last_page:1,
                    to: 0,
                    current_page: 1
                },
                product:{
                    name:'',
                    price:0,
                    description:'',
                    image:'',
                },
                errors:{},
            }
        },
        methods: {
            loadProduct: function (event) {
                var _this = this;
                fetch(`/backend/product/get-list?page=${this.products.current_page}`)
                .then(
                    function(response) {
                        if (response.status !== 200) {
                            console.log('Looks like there was a problem. Status Code: ' +
                            response.status);
                            return;
                        }
                        response.json().then(function(data) {
                            _this.products = data;
                            console.log(data);
                        });
                    }
                )
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
            },
             onChangeFileUpload(){
                this.product.image = this.$refs.file.files[0];
            },
            submitForm(){
                    let formData = new FormData();
                    let _this = this;
                    formData.append('name', this.product.name);
                    formData.append('price', this.product.price);
                    formData.append('image', this.product.image);
                    formData.append('_token', this.token);
                    formData.append('description', this.product.description);
                     $.ajax({
                        type: "POST",
                        url: '/backend/product/create-product',
                        enctype: 'multipart/form-data',
                        contentType: false, 
                        processData: false,
                        data: formData,
                        success: function(res)
                        {
                            if (res.success) {
                                _this.loadProduct();
                                 _this.product = {
                                    name:'',
                                    price:0,
                                    description:'',
                                    image:'',
                                };
                                 _this.$refs.file.value ='';
                                $('#modal-create').modal('hide');
                            } else {
                                _this.errors = res.errors;
                            }
                        }
                        });
            },
        },
        mounted() {
            this.loadProduct();
        },watch:{
        'pagination.current_page':function (val) {
             this.loadProduct();
        },
        }
    }
</script>
